<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Montserrat:400,700" rel="stylesheet" />
        <link rel="stylesheet" href="style/style.css" />
        <title>John Conwell</title>
        <script src="https://kit.fontawesome.com/a7a027e619.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header-navigation">
            <span class="header-navigation-home"><a href="/">JOHN CONWELL</a></span>
            <span class="header-navigation-tabs"><a href="/experiences">EXPERIENCES</a></span>
            <span class="header-navigation-tabs"><a href="/projects">PROJECTS</a></span>
        </div>