<%- include ('partials/header'); -%>
    <h1><%= title %></h1>
    <p>
        Welcome to my website! Click Projects to learn more about the projects I have worked on, About to learn more about me, or Contact to get in contact with me.
    </p>
<%- include ('partials/footer'); -%>