<%- include ('partials/header'); -%>
    <div>
        <img src="images/headshot.jpg" alt="Professional Headshot" />
        <h1><%= title %></h1>
        <h2>
            Bachelor of Science in Electrical Engineering<br>
            Minor in Computer Science
        </h2>
    </div>
    <div>
        <h3>About</h3>
        <p>
            I am a recent graduate looking for full time employment in an electrical 
            engineering field. I have extensive experience in circuit design and simulation, 
            experience with various kinds of software development, and excellent 
            communication and documentation skills. I have an strong interest in software 
            development, as well as the integration between software and hardware.
        </p>
    </div>
    <div>
        <h3>Contact</h3>
        <a href="https://github.com/conwe007">
            <i class="fab fa-github-square"></i>
            GitHub
        </a>
        <a href="https://www.linkedin.com/in/john-conwell-129841117/">
            <i class="fab fa-linkedin"></i>
            Linkedin
        </a>
        <a href="mailto:conwe007@umn.edu">
            <i class="fas fa-envelope-square"></i>
            Email
        </a>
    </div>
<%- include ('partials/footer'); -%>