<%- include ('partials/header') %>
    <div>
        <h1><%= title %></h1>
    </div>
    <div>
        <div>
            <a href="https://github.com/conwe007/Elementary-Cellular-Automata">
                <img src="images/thumbnail_cellular_automata.png" alt="Cellular Automata Thumbnail" />
            </a>
        </div>
        <div>
            <a href="https://github.com/conwe007/Elementary-Cellular-Automata"><h3>Elementary Cellular Automata</h3></a>
            <a href="https://github.com/conwe007/Elementary-Cellular-Automata">github.com/conwe007/Elementary-Cellular-Automata</a>
            <p>
                This project generates an array of cells based on Wolfram's elementary cellular 
                automata rules. The user specifies input parameters such as number of cells and 
                amount of time, and the program propogates the values through an array based on 
                the specified rule. The program also allows for reading an array from a text 
                file, writing an array to a text file, and printing an array to the console. The 
                program allows for graphical representation of the array, either static or 
                scrolling, using SDL. You can read more about cellular automata 
                <a href="https://en.wikipedia.org/wiki/Elementary_cellular_automaton">here</a>.
            </p>
        </div>
    </div>
    <div>
        <div>
            <a href="">
                <img src="" alt="" />
            </a>
        </div>
        <div>
            <a href=""><h3></h3></a>
            <a href=""></a>
            <p>
                
            </p>
        </div>
    </div>
    <div>
        <div>
            <a href="">
                <img src="" alt="" />
            </a>
        </div>
        <div>
            <a href=""><h3></h3></a>
            <a href=""></a>
            <p>
                
            </p>
        </div>
    </div>
    <div>
        <div>
            <a href="">
                <img src="" alt="" />
            </a>
        </div>
        <div>
            <a href=""><h3></h3></a>
            <a href=""></a>
            <p>
                
            </p>
        </div>
    </div>
    <div>
        <div>
            <a href="">
                <img src="" alt="" />
            </a>
        </div>
        <div>
            <a href=""><h3></h3></a>
            <a href=""></a>
            <p>
                
            </p>
        </div>
    </div>
    <div>
        <div>
            <a href="">
                <img src="" alt="" />
            </a>
        </div>
        <div>
            <a href=""><h3></h3></a>
            <a href=""></a>
            <p>
                
            </p>
        </div>
    </div>
<%- include ('partials/footer') %>